<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>nl.eduid.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>eduidauth</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>nl.eduid.enroll</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>eduidenroll</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>demo.tiqr.org</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>TIQRAuthenticationURLScheme</key>
	<string>eduidauth</string>
	<key>TIQREnrollmentURLScheme</key>
	<string>eduidenroll</string>
	<key>TIQRAuthenticationURLPathParameter</key>
	<string>tiqrauth</string>
	<key>TIQREnrollmentURLPathParameter</key>
	<string>tiqrenroll</string>
	<key>TIQREnforceChallengeHost</key>
	<string>eduid.nl</string>
	<key>TIQRTokenExchangeEnabled</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Nunito-Bold.ttf</string>
		<string>SourceSansPro-Regular.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
