<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>nl.eduid.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(TIQR_AUTHENTICATION_URL_SCHEME)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>nl.eduid.enroll</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(TIQR_ENROLLMENT_URL_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>mijn.test2.eduid.nl</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>demo.tiqr.org</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>TIQRAuthenticationURLPathParameter</key>
	<string>$(TIQR_AUTHENTICATION_URL_PATH_PARAMETER)</string>
	<key>TIQRAuthenticationURLScheme</key>
	<string>$(TIQR_AUTHENTICATION_URL_SCHEME)</string>
	<key>TIQREnforceChallengeHosts</key>
	<string>$(TIQR_ENFORCE_CHALLENGE_HOSTS)</string>
	<key>TIQREnrollmentURLPathParameter</key>
	<string>$(TIQR_ENROLLMENT_URL_PATH_PARAMETER)</string>
	<key>TIQREnrollmentURLScheme</key>
	<string>$(TIQR_ENROLLMENT_URL_SCHEME)</string>
	<key>TIQRGitReleaseVersion</key>
	<string>?</string>
	<key>TIQRLibraryVersion</key>
	<string>?</string>
	<key>TIQRTokenExchangeEnabled</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>SourceSansPro-Bold.ttf</string>
		<string>SourceSansPro-SemiBold.ttf</string>
		<string>SourceSansPro-Light.ttf</string>
		<string>ProximaSoft-SemiBold.otf</string>
		<string>Nunito-Bold.ttf</string>
		<string>SourceSansPro-Regular.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
